body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: coral;
}

.keyboard { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resetGameBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 20px;
    margin: 3px;
}